




/* Typography */
h1{
    font-family: "assistant", sans-serif ;
    font-weight: 400px;
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px #ADB0BF ;
    color:white;
    margin: 0;
    transition: .3s;
    transition-timing-function: ease-out ; 
}

h1:hover{
    text-shadow: 2px 2px 10px #ADB0BF, 2px 2px 20px #ADB0BF, 2px 2px 20px #ADB0BF  ;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.subtitle{
    font-family: "alegreya", sans-serif;
    font-weight: 700;
    font-size: .7rem;
    letter-spacing: .3em ;
    margin: 0;
    color: #F8E9F2;
}

.startText{
    font-family: "Press Start 2P", sans-serif;
    font-size: .75rem;
    color: #ADB0BF;
}

.imgText{
    font-family: "Press Start 2P", sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 1px pink;
    position: absolute;
    bottom: 35px;
    right: 40px;
    transition: .2s;
    transition-timing-function: ease-in-out;
}




/* Layout */

body{
    margin: 0;
    background: #FFFAFC;
}
header{
    background: pink;
    padding: 2em 0;
}

.site-title{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}



#separator{
    height: .1em;
    background-color: #ADB0BF;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.columns{
    display: flex;
    justify-content: space-around;

}



.col{
    padding: 1.5em;
    position: relative;
}

.col:hover .imgText{
    text-shadow: 2px 2px 1px rgb(240, 124, 143);

}

.col-1:hover .imgAzura{
    content:url(images/azura/azuraSmile.png);
}

.col-2:hover .imgAnna{
    content:url(images/anna/annaSmile.png);
}

.col-3:hover .imgForrest{
    content:url(images/forrest/forrestSmile.png);
}

.col-4:hover .imgLeo{
    content:url(images/leo/leoSmile.png);
}

.col-5:hover .imgMarth{
    content:url(images/marth/marthSmile.png);
}

.col-6:hover .imgOdin{
    content:url(images/odin/odinSmile.png);
}

img{
    border-style: solid;
    border-color: pink;
    border-radius: 25px;
    transition: 1s;
}

/*In game CSS */

.gameColumns{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gameText{
    border-style: solid;
    border-color: #F8E9F2;
    padding: 1em 5em;
    margin: 10px auto;
    font-family: "Press Start 2P", sans-serif;
    background-color: pink ;
    color: white;
    transition: .3s;
    min-width: 300px;
    max-width: 300px;
   
}

.gameText:hover {
    color: #ADB0BF;

}

#gameImage{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    height: 300px;
    width: auto;
}

.scoreText{
    margin: 2rem;
    color: pink;
    text-shadow: 1px 1px 2px lightgray;
    transition: 3s;
}

.gameScore{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
}

.scoreSpin{
    animation: spin 3s infinite ease-in-out;
}


.green-glow{
    border: 3px solid #A7E9AF;
    box-shadow: 0 0 10px #75b79e;
}

.red-glow{
    border: 3px solid #fa163f;
    box-shadow: 0 0 10px #d31437;
}

.gray-glow{
    border: 3px solid rgb(198, 200, 214);
    box-shadow: 0 0 10px #ADB0BF;
}



@media (max-width:600px){
    .columns{
        flex-direction: column;
        align-items: center;
    }
}

/* animations */

@keyframes spin{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(359deg);
    }
}

.transition{
    animation: transitionIn 1s ease-in-out;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        /*transform: rotateX(-10deg);*/
    }

    to {
        opacity: 1;
        /*transform: rotateX(0);*/
    }
}
